html, body {
  background-color: #fbfbfb;
  color: #222;
}
footer {
  width:800px;
  height: 20px;
  position:relative;
  top:800px;
  margin: auto;
}
#container {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: 0 -165px;
  background-image: none;
  height:900px;
}
h1 {
  font-size: 200%;
  font-weight: bold;
  text-transform: lowercase;
  letter-spacing: -1px;
}
h4 {
  font-size: 140%;
}
body, #container, .inner {
  overflow: hidden;
  scroll: none;
}
.samples {
  clear:both;
  max-width: 1200px;
}
.samples img {
  float:left;
  margin: 10px;
  padding: 10px;
  border: 1px dotted #aaa;
}
#container ul {
  margin-bottom: 20px;
}
/*
  slides                */
.slide {
  position: absolute;
  top: 49px;
  margin-left: 200px;
  overflow: hidden;
  clear: right;
}

.slide.transition, .sub-slide.transition {
  -webkit-transition: left .4s ease;
}

.slide .head {
  text-align: center;
  font-size: 48px;
  font-weight: normal;
  margin: 60px 0 60px;
}

.slide.bulleted li {
  font-size: 34px;
  line-height: 90px;
  width: 800px;
  margin: 0 auto;
}

.slide.bulleted.narrow li {
  width: 400px;
}

.sub-slide {
  position: absolute;
  left: 0;
  top: 40px;
}


@media screen and (max-width: 1000px) {
  body {
    background-color:#f2f2f2;
  }
  #container {
    background-image:none;
  }
}
